
/* ################### navbar css start #######################*/
.navbar-brand img{
    width: 100%;
    height: 100%;
}
.logo-wrapper {
    width: 50px;
    height: 50px;
}

.navbar-wrapper .logo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collapse .navbar-nav .nav-item .nav-link{

    color: #2D2D2D;
    font-family: Epilogue;
    font-size: 16px;
}
/* ################### navbar css end #######################*/
/* ################## header css start ###################### */
.main-header .wrapper-heading-1 h4{
    color: #2D2D2D;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.main-header .wrapper-heading-1 h1{
    color: #2D2D2D;
    font-size:50px;
    font-weight: 700;
    margin-bottom: 40px;
}
.main-header .wrapper-heading-1 p{
    color: #2D2D2D;
    font-size:16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.main-header .wrapper-heading-1 button{
    color:#fff;
    font-size:16px;
    font-weight: 500;
    background-color: #2D2D2D;
    border: none;
    padding: 15px 50px;
}
.wrapper-heading-2 .img-wrapper{
width: 100%;
height: 410px;
}
.wrapper-heading-2 .img-wrapper img{
    width: 100%;
    height:100%;
    object-fit: contain;
    }

.wrapper-heading-1{
    padding: 50px 0;
}
.wrapper-icon .icon-img-wrapper {
width: 100px;
height: 100px;
}
.wrapper-icon .icon-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

/* ################## header css end ###################### */
